html,
body {
   background-color: #000000;
   padding: 0;
   margin:0;
   font-family: Microsoft Yahei, Arial;
}
@font-face {
   font-family: Helvetica_Light;
   src: url(HelveticaNeueLTPro-UltLt.woff);
}

@font-face {
   font-family: test;
   src: url(msyhl.ttc);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img{ padding:0;
    margin: 0;}

#skylineLabBackground{
  position: absolute;;
  z-index: 0;

}
.red{
  color: #F5055D;
}

.green{
  color: #EDF781;
}
.dygraph-legend {
    background: #000000;
}
.dygraph-axis-label{
	margin: 0 30px 0 0 ;
}
.stockGraphs{
	display: inline-block;

}
html{
  overflow-y: hidden;
}

/********** Portfolio Page *****************/
.pf_list_detail{
  display: none;
}
.pf_list_equity{
  font-size: 18pt;
}
.pf_list_big{
  font-family: Helvetica_Light, Microsoft JhengHei;
  font-size: 14pt;
}

.pf_list_big a:link{
  color:#FFF;
}
.pf_list_big a:visited{
  color:#FFF;
}
.pf_list_big a:hover{
  color:rgb(255,77,115);
}


.pf_list_modify{
  font-style: italic;
  height: 30pt;
  padding: 0;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 45pt;
  font-size: 18pt;
}

.pf_list{
  margin: 0 0 8pt 0 ;
  display: inline-block;
  position: relative;
}

.pf_remove{
  position: relative;
  width: 25px;
  height: 25px;
  background-image: url('../img/delete.png');
  cursor: pointer;
  display: inline-block;;
}

.pf_sum{
  font-size: 9pt;
  margin: 0 0 20pt 0;
  line-height: 6pt;
}

#pf_overall_balance{
  display: inline-block;
}

#pf_realtimeAlarmMaster{
  font-size: 9pt;
  line-height: 18pt;
  font-weight: bold;
}

#pf_tracklist{
}

#tracklistnum{
  font-size: 14pt;
  display: inline;
}

#pf_realtimeAlarmMaster div{
   display: inline-block;
}
/********** Realtime monitor page **********/

.stockHolder{
    display: inline-block;
    padding: 20px 10px 2px 10px;
    background-color: #26282f;
    opacity: 0.65;
    margin: 0 0 11pt 30pt;
    z-index: 1;
    font-size: 12pt;
}

#rtmHeader{
    background-image: url('../img/rtmheader.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    margin: -15px 0 0 35pt;
    background-size: 202pt 45pt;
}

#rtmHeader #headerCommands{
    color: #fff;
    width: 400pt;
    height: 50pt;
    margin: 0 60pt 0 0;
    float: right;

}

#realtimeMonitor {
    width: 100px;
    height: 100px;
    float: left;
    border: none;
    margin:0;
    padding: 40px 0 0 45px;
    padding-left: 30px;
    background-color: rgb(0,0,0);
    background-image: url('../img/skymonitor.jpg');
    background-size: cover;

 }

#realtimeMonitorData {
   margin: -1pt 0 0 0 ;
   padding:  0 0 0 6pt;

 }

 .skyFooter{
    height: 80px;
    width: 100%;
    margin: -37pt 0 0 0;
    font-family: Helvetica_Light;
 }

.skyFooter #ft_Time{
    float: left;
    margin: 42px 0 0 58pt;
    font-size: 8pt;
    color: #fbd4d0;
    letter-spacing: 2pt;
}

.skyFooter #ft_cnTime{
    float: left;
    margin: 42px 0 0 104pt;
    font-size: 8pt;
    color: #fbd4d0;
    letter-spacing: 2pt;
}

.stockHolderfonts{
    font-size: 10px;
    color: #fff3c9;
    line-height: 15px;
    padding: 0 0 10px 10px;
    height: 25px;
    margin: -5px 0 -20px 0;
}

.stockHolderfonts img{
    position: absolute;
    margin: -8pt 0 0 7pt;
}

.graphTitle_0{
    color: rgb(51,204,204);
}

.graphTitle_1{
    color:rgb(220,100,100);
}

.loading{
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    width: 300px;
    height: 283px;
    margin: -110px 0 0 -10px;
    background-size: 100%;
    background-position: 0px -50px;
    opacity: .6;
    position: absolute;
    z-index: 10;
}
div.dygraph-legend{ background-color: #000; }

.chartmsg{
    position: absolute;
    color: rgb(252,239,151);
    z-index: 30;
    width: 250px;
    margin: -15px 0 0 175px ;
    height: 50px;
    display: none;
    background-color:rgb(75,75,75);
    padding: 10px;
    border-radius: 6px;
}

#master {
    width: 1000px;
    border: none;
    overflow: hidden; /* add this to contain floated children */
}

#skylineLab {
    width: 1440px;
    height: 800px;
    float: left;
    background-size: cover;
    border: none;
    margin:0;
    padding: 0
    padding-right: 0px;
    background-color: rgb(0,0,0);
}

#mainBody {
    float: left;
    border: none;
    margin:0;
    padding: 25pt 0 0 25pt;
    background-color: rgb(0,0,0);
}

.mainbutton{
  margin: 14pt 4pt 0 0;
  width: 100pt;
  height: 160pt;
  font-size: 10pt;
}

#skylabTopNav{
  text-align: left;
  position: absolute;
  z-index: 1;
}

#skylabTopNav div{
  display: inline-block;
}

#skylabControls{
  text-align: left;
  margin: 0 0 0 20pt;
}

#logoLeft{
    background-image: url('../img/skylab.png');
    width: 200pt;
    height: 41pt;
    background-repeat: no-repeat;
    float: left;
    position: absolute;
    margin: 45pt 0 0 25pt;
    background-size: 200pt 40pt;
    z-index: 1;
}

#logoRight{
    background-image: url('../img/skylogo.png?123');
    width: 76pt;
    height: 212pt;
    background-size: 76pt 212pt;
    position: relative;
    float: right;
    margin: 31px 35pt 0 0;
    z-index: 2;
}
#mainGraphHolder_blur{
     width: 620pt;
     height: 250pt;
     margin-left: 229pt;
     background-image: url('../img/maingraphBack.png?id=112112');
     background-size: 620pt 250pt;
     position: relative;
     z-index: 1;
}

#mainGraphHolder{
    width: 100%;
    height: 720px;
    margin:0;
    text-align: center;
}

#mainGraph{

    height: 500px;
    margin: 0 auto 0 auto;

}
#rainDay{
  opacity: 0;

}

#info{
     width: 72%;
    height: 100px;
    margin: 15pt 0 0 245pt;
    position: relative;
    z-index: 2;
}

.infoPanel{
    width: 24%;
    height: 220px;
    float: left;
    text-align: left;
    font-size: 8pt;
    font-family: Helvetica_Light;
    letter-spacing: 2px;
    color: rgba(255,255,255,0.7);
    padding: 0px 0 0px 12pt;
}

#infoSub1{

}

#infoSub2{

}


.chart-legend li span{
    display: none;
}

.chartDetails{
    font-size: 12px;
    height: 101px;
    padding: 0;
    margin: 5px 0 0 0;
}
.chartInfo{
    float: left;
    width: 100px;
    height: 100px;
    margin: 0;
    padding:0;
    color:#96bfcd;
    line-height: 18px;
    font-size: 10px;
}
.chartDonnut{
    float: left;
    width: 105px;
    height: 100px;
    margin: 0 0 0 5px;
    padding: 0;
}
.statsInfo{
  width: 175px;
  line-height: 22px;
  margin: 0 0 0 10px;
}
.chartDonnut .chartDonnutLabel{
    font-family: Helvetica_Light;
    letter-spacing: 1px;
    position: absolute;
    width: 54px;
    height: 25px;
    font-size: 14px;
    color: #ffabad;
    margin: 32px -1px 0 28px;
    text-align: center;

}
.chartSymbol{
    padding: 7px 0px 0px 0px;
    margin: 0 0 0 -5px;
}
.chartDonnutTitle{
    color: #7ea4b1;
    font-size: 10px;
    margin: 0 0 2px 10px;
    padding: 0;
    line-height: 18px;
}

.chartlegend{
    font-size: 12px;
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 206px;
    background-repeat: no-repeat;
    height: 91px;
    padding: 10px;
    line-height: 18px;
    margin: -71px 0 0 0px;
    background-image: url('../img/bubble.png');
}

.chartPriceClass{
    margin: 0 0 5px 10px;
}
.legend_label_color_0{
    color:rgb(51,204,204);
}

.legend_label_color_1{
    color:rgb(220,100,100);
}

.legend_label_color_2{
    color:rgb(220,255,69);
}

.legend_label_color_3{
    color:rgb(255,61,132);
}

.addSelections{
    float: right;
    margin: -6pt -26pt 0 0 ;
    color:rgb(51,204,204);
}
.removeSelections{
    float: right;
    margin: -6pt 42pt 0 0 ;
    color:rgb(51,204,204);
}

.lessGrey{
  color:rgb(80,80,80);
}

.period{
  float: right;
  margin: -6pt 3pt 0 0;
  color:rgb(51,204,204);
}

.panelTransparentButtonSmall{
    background:none;
    border: none;
    cursor: pointer;
    font-size: 10px;
    padding: 5px;
}

.panelTransparentButtonSmall:hover{
    box-shadow: 0px 0px 40px 1px rgba(120,228,255,0.75);
}

#checkedanim{
   /* background-image: url('../img/checksmall.gif?do=12312321');*/
    width: 355px;
    height: 75px;
}

#checkedanim #msg{
  position: absolute;
  margin: 20pt 0 0 -205pt;
  width: 350px;
  text-align: right;
}

#checkedanim img{
   display: none;
}

#headerMessage{
    position: absolute;
    width: 200pt;
    margin: -11pt 0 0 -57pt;
}

.biggerClass{
    position: absolute;
    width: 340pt;
    text-align: center;
    font-size: 25pt;
    height: 50pt;
    z-index: 3;
    background-color: #333;
    color:#fff;
    opacity: 1;
    padding: 10pt 0 0 0 ;
    margin: 0 0 0 0pt ;
    display: none;
}
.skylabMain{
    margin: 0 0 0 15pt;
    padding: 44pt 0 0 0;
    position: absolute;
}
.skylabMain_g_legend{
    color: #000;
    font-size: 8pt;
    margin: 14pt 12pt 0 0;
    background-color: rgba(255,255,255,0.1);
    padding: 4pt 16pt 5pt 12pt;
    border-radius:5pt;
    color: rgba(255,255,255,1);
    float: right;
}
.skylabMain_stockname{
    text-shadow: 1px 1px 1px #4d4d4d;
    margin: 15pt 0 0 16pt;
    font-size: 9pt;
    font: Helvetica_Light;
    color: rgba(255,255,255,1);
}
.skylabGDetail{
    position: absolute;
    color:rgba(255,255,255,0.7);
    width: 80%;
}

/* portfolio page */
.portfolioMain{
  color: #fff;
  font-size: 8pt;

}

/*** color ***/
.skew{
  font-style: italic;
}
.AlarmBlue{
  color: rgb(96,210,247);
}
.AlarmRedLight{
  color: rgb(219,132,148);
}

.AlarmRed2{
  color: rgb(190,0,0);
  background-color: #000;
}
.AlarmRed{
  color: rgb(252,33,69);
}

.AlarmYellowGreen{
  color:#EDF781;
  margin: 5pt 0 -5pt 0 ;
}

.AlarmGreen{
  color: rgb(131,255,36);
  background-color: #000;
}
.AlarmGreenLight{
  color: rgb(97,194,0);
}

.isBold{
  font-weight: bold;
}

.isItalic{
  font-style: italic;
}

#realtimeConsole #userinput{
  width: 670pt;
  height: 25pt;
  position: absolute;
  z-index: 5;
  background:none;
  color:rgb(200,200,200);
  margin: 206pt 0 0 19pt;
  border: none;
}
#realtimeConsole #content{
  position: absolute;
  margin: 30pt 0 30pt 30pt;
  height: 170pt;
  width: 400pt;
  overflow-x: hidden;
  overflow-y: visible;
  font-size: 9pt;
}
#realtimeConsole #cbutton{
  z-index: 6;
float: right;
margin: 20pt 20pt 0 0 ;
background-image: url('../img/on-off-button.png');
width: 55px;
height: 55px;
}

#realtimeConsole #cbutton:hover{
background-position: 54px;
cursor: pointer;
}
#realtimeConsole{
  display: none;
  position: absolute;
  border-radius: 25px;
  z-index: 5;
  background-color: #000;
  width: 500pt;
  height: 250pt;
  margin: 0pt 0 0 20pt;
  opacity: 0.7;
  color: rgb(207,239,250);
}
/* alarm **************/
#alarmMaster{
  width: 98%;
  /*background-color: rgb(222,12,2);*/
}
#alarmsDetails{
  padding: 10pt 0 0 10pt;
  background-image: url('../img/leather4.jpg');
  line-height: 8.5pt;
  font-size: 9pt;
  float: left;
  width: 48%;
  height: 250pt;
  background-size: auto 250pt;
  overflow-x: hidden;
  overflow-y: visible;
}
#alarmConsole{
  padding: 10pt 0 0 10pt;
  background-image: url('../img/black-leather.jpg');
  background-size: 0.1;
  float: left;
  width: 48%;
  font-size: 9pt;
  height: 250pt;
  background-size: auto 250pt;
  overflow-x: hidden;
  overflow-y: visible;
}
.Alarms{
  color: #fff;
  font-size: 18pt;
}

.alarm_on{
  background-color: rgb(32,250,148);
  box-shadow:
  0 0 35px 5px #0ff; /* outer cyan */

}
#priceform{
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: rgb(51,51,51);
  width: 20%;
  line-height: 30px;
  border-radius: 8px;
}

.multi-switch-font{
  display: inline-block;
  position: absolute;;
  margin: 0 0 0 10px;
  width:150px;
}
.multi-switch-input{
  display: inline-block;;
  width: 150px;
  height: 20px;
  font-size: 18px;
  background:none;
  border:none;
  margin: 6px 0 0 10px;
  color: rgb(189,250,165);
  color: rgb(100,100,100);
  position: absolute;
}
#skylineTesting{
  width: 1440px;
  height: 800px;
  float: left;
  background-size: cover;
  border: none;
  margin:0;
  padding: 0
  padding-right: 0px;
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

#alarm_light{
  display: none;
  position: absolute;
  width: 98pt;
  height: 1pt;
  background-color: none;
  margin: -2pt 0 0 539pt;
}
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
/*  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}
ul li {
  font: 12pt/12pt Helvetica_Light;
  letter-spacing: 1pt;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  z-index: 2;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #333;
  color: #fff;
 }

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150pt;
   -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li {
  background: #333;
  display: block;
  color: #fff;
  height: 30pt;
  padding: 20pt 0 0pt 10pt;
   text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
